/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
/* .sidebar, .sidebar2 {
  display: none;
} */

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/* Loader */

.loader{
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -50px 0 0 -50px;
  border: 18px solid #f3f3f3;
  border-top: 18px solid rgb(2,35,66);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
  display: none;
}
@keyframes spin{
  0%{ transform: rotate(0deg);  }
  100%{transform: rotate(360deg);}
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.sidebar2 h1{
  color: #9d9d9d;
}

/* Media Queries */
@media (max-width:767px){
  .sidebar{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
    display: block;
    padding: 20px;
    background-color: rgba(2,35,66,0.9);

  }
  .profile{
    display: none;
  }
   .side-break{
      display: none;
    }
    .sidebar li{
      display: inline-block;
    }
    .nav-icon{
      font-size: 2.5em;
    }
    .mobile-space{
      height: 200px;
    }

   .container-fluid > .navbar-header{
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 768px) {

  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: rgba(2,35,66,0.9);
    border-right: 1px solid #eee;
  }
  
  .sidebar2 {
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: rgba(2,35,66,0.9);
    border-right: 1px solid #eee;
  }
}