@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);

html, body{
  background: #9d9d9d;
  width:100%;
  height: 100%;
}

.navbar-brand{
  padding: 15px 0 0 40px;
  font-family: 'Pacifico', cursive;
  font-size: 2.4em;
}
.navbar-inverse{
  background-color: rgba(2,35,66,0.9);
  
}
.navbar .navbar-inverse{
  color: #2d2e32;
  background-color: rgba(2,35,66,0.9);
}
.navbar-inverse .navbar-nav>li {
    color: #9d9d9d;
}

.eddie-nav{
  padding-left: 5%;
  font-size: 1.5em;
}
.customDrop{
  background-color: rgba(2,35,66,0.9);
}
.dropdown-menu>li>a{
  color: #9d9d9d;
}
.dropdown-menu {
  min-width: 300px;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover{
  
  background-color: transparent;
}

.removeFav {
  float: right;
  padding-right: 10px;
}
.riverSite {
  float:left;
  padding-left: 10px;
}


.profile{
  margin: 0 auto;
  text-align: center;
}

.profile > img{
  max-width: 100px;
  border-radius: 50%;
}

.profile a:hover{
  color:#fff;
}
.profile h3, p {
  color: #9d9d9d;
}
.nav-center{
  text-align: center;
}
.nav-text{
  font-family: 'Noto+Serif', sans-serif;
  font-size: 1.2em;
}
.nav-icon{
  font-size: 4em;
}

/* .sidebar, .sidebar2{
  overflow: hidden;
  background-color: rgba(2,35,66,0.9);
  border-right: 1px solid #131418;
  top: 50px;
  color: #9d9d9d;
}
.sidebar2{
  float: right;
  text-align: center;
} */
@media (min-width: 992px){
    .col-md-offset-2 {
        margin-left: 14.66666667%;
    
    }
    .col-md-10 {
        width: 70.33333333%;
    }
}

hr{
  border-top: 1px solid #131418;
}

.chatInput {
   position:fixed;
   bottom:0px;
   height:50px;
   width:100%;
   margin-right: 20px;
   background:#508ccb;
}


/*.main {
  background: #125198;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/


/* sign in css*/
body {
  background: transparent;
}

body, input, button {
  font-family: 'Source Sans Pro', sans-serif;
}

.login {
  padding: 15px;
  width: 600px;
  min-height: 400px;
  margin: 2% auto 0 auto;
  vertical-align: middle;

}
.login .heading {
  text-align: center;
  margin-top: 1%;
}
.login .heading h2 {
  font-size: 3em;
  font-weight: 300;
   color: rgba(2,35,66,0.9);
  display: inline-block;
  padding-bottom: 5px;
  text-shadow: 1px 1px 3px #23203b;
}
.login form .input-group {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.login form .input-group:last-of-type {
  border-top: none;
}
.login form .input-group span {
  background: transparent;
  min-width: 53px;
  border: none;
}
.login form .input-group span i {
  font-size: 1.5em;
   color: rgba(2,35,66,0.9);
}
.login form input.form-control {
  display: block;
  width: auto;
  height: auto;
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  border-radius: 0px;
  padding: 10px;
  font-size: 1.6em;
  width: 100%;
  background: transparent;
  color: #022342;
}
input[type="text"].form-control::-webkit-input-placeholder,
input[type="password"].form-control::-webkit-input-placeholder{
  color: #022342;
}
input[type="text"].form-control::-moz-placeholder,
input[type="password"].form-control::-moz-placeholder{
  color: #022342;
}
input[type="text"].form-control:-ms-input-placeholder,
input[type="password"].form-control:-ms-input-placeholder{
  color: #022342;
}
input[type="text"].form-control:-moz-placeholder,
input[type="password"].form-control:-moz-placeholder{
  
  color: #022342;
  
}
.login form input.form-control:focus {
  border: none;
}
.login form button {
  margin-top: 20px;
  background: #27AE60;
  border: none;
  font-size: 1.6em;
  font-weight: 300;
  padding: 5px 0;
  width: 100%;
  border-radius: 3px;
  color: #b3eecc;
  border-bottom: 4px solid #1e8449;
}
.login form button:hover {
  background: #30b166;
  -webkit-animation: hop 1s;
  animation: hop 1s;
}

.float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.float:hover, .float:focus, .float:active {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .login {
    width: 600px;
  }
}
@media only screen and (max-width: 1100px) {
  .login {
    margin-top: 2%;
    width: 600px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .login {
    margin-top: 1%;
    width: 550px;
    min-height: 0;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .login {
    margin-top: 0;
    width: 500px;
    font-size: 1.3em;
    min-height: 0;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .login {
    margin-top: 0;
    width: 400px;
    font-size: 1em;
    min-height: 0;
  }
  .login h2 {
    margin-top: 0;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .login {
    margin-top: 0;
    width: 200px;
    font-size: 0.7em;
    min-height: 0;
  }
}

/*input field*/
.submitChat {
	position: fixed;
	margin: 0 auto;
	bottom: 0;
	padding: 2em 0;
	max-width: 860px;
	width: 100%;
	text-align: left;
	font-size: 2.5em;
}

.submitChat .submit {
	display: none;
}

/* Question list style */


.submitWrap {
	background-color: rgba(0,0,0,0.1);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2.35em;
}


.chatBox{
  width: 90%;
  padding: 0 0 10px 10px;
  margin: 15px 0 0 15px;
  color: #9d9d9d;
  float: left;
  border-width: 0;
  background-color: rgba(0,0,0,0.2);
}

.chatButton{
    padding: 15px 8px;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    color: rgba(0,0,0,0.25);
    text-align: center;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.span-icon{
  padding-right: 10px;
}

/*map area*/

#map-area {
    position:absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
}
.logInButton {
    border-right: 1px solid #131418;
    float: left;
    width: 50%;
}
.signInButton {
    float: left;
    width: 50%;
}
a {
  color: #9d9d9d;
  text-decoration: none;
}

a:hover,
a:focus{
  text-decoration: none;
}

/*Light box Waterflow details*/

.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
}
.showLightbox{
	display: block;
}

.light-contain{
	background-color: rgba(2,35,66,0.9);
	border-radius: 20px;
	position: relative;
	margin: 0 auto;
}

@media only screen and (min-width: 330px) {
      .light-contain {
          margin: 30px;
          left: 0%;
          top: 20%;
      }
}

@media only screen and (min-width: 768px) {
      .light-contain {
          width: 600px;
          margin: 30px auto;
          left: 12%;
          top: 20%;
      }
}

// @media (min-width: 992px)
// .modal-lg {
//     width: 900px;
// }

.addFavs {
  color: #9d9d9d;
  cursor: pointer;
  padding: 1em 0 0 0;
}
.lightLogin {
  color: #9d9d9d;
  cursor: pointer;
  padding: 1em 0 0 0;
}
.loginWrap{
  width: 50%;
  margin: 0 auto;
  padding-top: 2%;
}
.light-contain > h2{
  color: #9d9d9d;
	text-align: left;
	font-size: 2em;
	margin: 0;
	padding: 0 0 0 1.5em;

}
.col-8{
	width:70%;
	height: 50%;
	border-right: 1px solid #131418;
	float: left;
}
.col-4{
	width: 30%;
	height: 50%;
	float: left;
}
.col-4 > h1{
 // font-size: 10em;
  color: #9d9d9d;
}
.col-4 > h3{
  color:#46924a;
}
.guage > table{
	margin: 0 auto;
}
.details > h4{
	text-align: left;
}

#close{
	height: 4em;
}

#close > h2{
	position: absolute;
	color: #9d9d9d;
	font-size: 2.5em;
	right: 1%;
	top: -3%;
	cursor: pointer;
}

/*progress bar*/

.vertical {
  display: inline-block;
  width: 100%;
  height: 50px;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
.vertical {
  box-shadow: inset 0px 4px 6px #ccc;
}
.progress-bar {
  box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
  background-color: #46924a;
}
.progress-wrap{
   margin-top: 20%;
}
.progress-text {
  padding: 10%;
  font-size: 2em;
  color: rgba(2,35,66,0.9);
}
.dateLabel{
  color:#9d9d9d;
  padding-top: 40%;
}
/*Browse area*/
.riverList{
  list-style-type: none;
}
.riverList >li>a{
  color: rgba(2,35,66,0.9);
  font-size: 2em;
}
.riverList >li>a:hover{
  color: rgba(2,35,66,0.6);
}

@media(min-width: 768px){
  .login{
    margin-left: 25%;
  }
}
