<div class="col-sm-3 col-md-2 sidebar2">
 <h1>Rooms</h1>
 <hr>
         
  <ul class="nav nav-sidebar nav-center">
    <li><a href="">
      <p class="nav-text"><span class="span-icon"><i class="fa fa-comments-o" aria-hidden="true"></i></span>General Topics</p>
    </a></li>
      <hr>
    <li><a href="">
      <p class="nav-text"><span class="span-icon"><i class="fa fa-money" aria-hidden="true"></i></span>Sell Gear</p>
    </a></li>
      <hr>
    <li><a href="">
      <p class="nav-text"><span class="span-icon"><i class="fa fa-plane" aria-hidden="true"></i></span>Post a Trip</p>
    </a></li>
      <hr>
    <li><a href="">
      <p class="nav-text"><span class="span-icon"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>River Hazards</p>
    </a></li>
      <hr>
    </ul>
  </div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">        
    <h1 class="page-header">Connect with Boaters</h1>
    <div id="messages"></div>
    <form id ="theForm" class="submitChat" autocomplete = "off">
      <div class='submitWrap'>
        <input class="chatBox" id="chatBox" name="chat" type="text"/>
        <button type="submit" class ="chatButton"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
      </div>
    </form>
</div>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="/js/chat-general.js"></script>
