
 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <div class="row">
                    <div class="col-md-4">
                    
                        <h3>User Details</h3>
                        <br>
                        <form action ="/updateDetails" method = "post">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username" placeholder="<% if (!user.username){ %> Add Username<%}%><%= user.username %>" required>
                            <label>Email</label>
                            <input type="text" class="form-control" name="email" placeholder="<% if (!user.email){ %> Add Email<%}%><%= user.email %>">
                            <label>Short Description</label>
                            <input type="text" class="form-control" name="shortDescription" placeholder="<% if (!user.description){ %> Add Description <%}%> <%= user.description %>" required>
                            <br>
                            <button type="submit" class="float btn btn-success">Update Details</button>
                        </form>
                        <br><br>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group col-md-8">
                            <h3>Change Your Password</h3>
                            <br>
                            <form action ="/updatePass" method = "post">
                                <label>Enter Old Password</label>
                                <input type="password" name="oldPass" class="form-control" required>
                                <label>Enter New Password</label>
                                <input type="password" name="newPass" class="form-control" required>
                                <label>Confirm New Password</label>
                                <input type="password" name="newPassConfirm" class="form-control" required>
                                <br>
                                <button type="submit" class="float btn btn-warning">Change Password</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="lightbox">
                <div class="light-contain">
                <div id="close"><h2><i class="fa fa-times" aria-hidden="true"></i></h2></div>
                <h2 class="riverTitle">No Data Available At This Time</h2>
                <div class="chart col-8">
                    <div class="progress-wrap">
                        <div class="col-xs-4 col-md-4">
                            <div class="progress vertical">
                                <div class="progress-bar proBar-0" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    <p class="progress-text flow-0">N/A cfs</p>
                                  </div>
                            </div>
                            <p class="dateLabel date-0">No Data</p>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <div class="progress vertical">
                                <div class="progress-bar proBar-1" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    <p class="progress-text flow-1">N/A cfs</p>
                                  </div>
                            </div>
                            <p class="dateLabel date-1">No Data</p>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <div class="progress vertical">
                                <div class="progress-bar proBar-2" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    <p class="progress-text flow-2">N/A cfs</p>
                                  </div>
                            </div>
                            <p class="dateLabel date-2">No Data</p>
                        </div>
                    </div>
                </div>
                <div id="" class="gauge col-4">
                    <h3>Current Flow:</h3>
                    <h1 class="currFlow">N/A</h1>
                    <h3>cfs</h3>
                </div>
                 <div style="clear: both;"></div>
                 <% if (user){%>
                     <h1 id="" class="addFavs">Add to Favorites!</h1>
                <% } else { %>
                <h1 class="lightLogin">Login To Add to Favorites </h1>
                <div class='loginWrap'>
                    <div class = "logInButton">
                      <a href = "/login">
                        <p class="nav-text">Login</p>
                      </a>
                    </div>
                    <div class = "signInButton">
                      <a href= "/signup">
                        <p class="nav-text">Sign up</p>
                      </a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <% } %>
            </div>
        </div>

 </div>
 <script src ="js/frontEnd.js"></script>