
 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <div class="row">
                    <div class="col-md-4">
                    
                        <h3>User Details</h3>
                        <br>
                        <form action ="/updateDetails" method = "post">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username" placeholder="<% if (!user.username){ %> Add Username<%}%><%= user.username %>">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email" placeholder="<% if (!user.email){ %> Add Email<%}%><%= user.email %>">
                            <label>Short Description</label>
                            <input type="text" class="form-control" name="shortDescription" placeholder=<% if (!user.description){ %> "Add Description" <%}%> "<%= user.description %>">
                            <br>
                            <button type="submit" class="float btn btn-success">Update Details</button>
                        </form>
                        <br><br>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group col-md-8">
                            <h3>Change Your Password</h3>
                            <br>
                            <form action ="/updatePass" method = "post">
                                <label>Enter Old Password</label>
                                <input type="password" name="oldPass" class="form-control">
                                <label>Enter New Password</label>
                                <input type="password" name="newPass" class="form-control">
                                <label>Confirm New Password</label>
                                <input type="password" name="newPassConfirm" class="form-control">
                                <br>
                                <button type="submit" class="float btn btn-warning">Change Password</button>
                            </form>
                        </div>
                    </div>
                </div>

 </div>
 <script src ="js/frontEnd.js"></script>